In [17]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter("ignore")

In [18]:
df = pd.read_csv(r"D:\Datasets for Resume Project\Real_Estate_Sales_2001-2022_GL.csv")

df

,Serial Number,List Year,Date Recorded,Town,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,220008,2022,01/30/2023,Andover,139020.0,232000.0,0.599200,Residential,Single Family,NaN,NaN,NaN,POINT (-72.343628962 41.728431984)
1,2020348,2020,09/13/2021,Ansonia,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
2,20002,2020,10-02-2020,Ashford,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
3,210317,2021,07-05-2022,Avon,329730.0,805000.0,0.409600,Residential,Single Family,NaN,NaN,NaN,POINT (-72.846365959 41.781677018)
4,200212,2020,03-09-2021,Avon,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993,10606,2001,08-11-2002,Southbury,130230.0,326000.0,0.399479,NaN,NaN,NaN,NaN,NaN,NaN
199994,10018,2001,10/24/2001,Woodbury,259800.0,385000.0,0.674805,NaN,NaN,NaN,NaN,NaN,NaN
199995,10482,2001,07/31/2002,Trumbull,163800.0,205000.0,0.799024,NaN,NaN,NaN,NaN,NaN,NaN
199996,10230,2001,12/17/2001,New Britain,30810.0,162400.0,0.189717,NaN,NaN,7.0,NaN,NaN,POINT (-72.81767 41.66098)
199997,10213,2001,02-01-2002,Newtown,111450.0,253500.0,0.439645,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Assessed Value',
       'Sale Amount', 'Sales Ratio', 'Property Type', 'Residential Type',
       'Non Use Code', 'Assessor Remarks', 'OPM remarks', 'Location'],
      dtype='object')

In [20]:
df['List Year'].unique()

array([2022, 2020, 2021, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019],
      dtype=int64)

In [21]:
df['Town'].value_counts()

Town
Stamford      7129
Bridgeport    6906
Waterbury     6581
Norwalk       5211
Danbury       5192
              ...
Bozrah         112
Hartland       108
Warren         104
Scotland        96
Union           63
Name: count, Length: 169, dtype: int64

In [22]:
df['Property Type'].value_counts()

Property Type
Residential       151064
Vacant Land         7824
Commercial          5987
Apartments          1327
Industrial           795
Condo                371
Public Utility        10
Two Family             2
Single Family          2
Three Family           1
Name: count, dtype: int64

In [23]:
df['Residential Type'].value_counts()

Residential Type
Single Family    106434
Condo             31773
Two Family         8442
Three Family       3982
Four Family         809
Name: count, dtype: int64

In [24]:
df['Non Use Code'].value_counts()

Non Use Code
25 - Other                 11957
07 - Change in Property     9520
14 - Foreclosure            3079
08 - Part Interest          3069
01 - Family                 2598
                           ...
13.0                           1
29 - No Consideration          1
22.0                           1
Single Family                  1
5.0                            1
Name: count, Length: 85, dtype: int64

In [25]:
df['Assessor Remarks'].value_counts()

Assessor Remarks
ESTATE SALE         1082
SALES RATIO          913
PRIVATE SALE         693
NEW CONSTRUCTION     549
MOBILE HOME          420
                    ...
1-87-6-0               1
5-75-8-0               1
1-77-26-34             1
1-75-39-0              1
47H/38/7               1
Name: count, Length: 18028, dtype: int64

In [26]:
df['OPM remarks'].value_counts()

OPM remarks
GOOD SALE PER MLS                                       454
TOTAL RENOVATION PER MLS                                339
NO MLS                                                  248
NEW CONSTRUCTION                                        219
PURCHASE OF A FORECLOSED PROPERTY                       105
                                                       ...
REMODELED PER MLS - SEE PREVIOUS SALE #200056             1
MOLD PROBLEM PER MLS                                      1
TOTAL RENOVATION PER MLS - SEE PREVIOUS SALE #200805      1
DUPLICATE ENTRY - ALSO SEE #200076                        1
RENOVATIONS PER MLS - SEE PREVIOUS SALE #220041           1
Name: count, Length: 2833, dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199998 entries, 0 to 199997
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     199998 non-null  int64
 1   List Year         199998 non-null  int64
 2   Date Recorded     199998 non-null  object
 3   Town              199998 non-null  object
 4   Assessed Value    199998 non-null  float64
 5   Sale Amount       199998 non-null  float64
 6   Sales Ratio       199998 non-null  float64
 7   Property Type     167383 non-null  object
 8   Residential Type  151440 non-null  object
 9   Non Use Code      46434 non-null   object
 10  Assessor Remarks  35749 non-null   object
 11  OPM remarks       5086 non-null    object
 12  Location          135596 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 19.8+ MB

In [28]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\lenovo\anaconda3\lib\site-packages (2.4.1)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\lenovo\anaconda3\lib\site-packages (from geopy) (2.0)

In [32]:
from geopy.geocoders import Nominatim
import re
import pandas as pd

# Example DataFrame
# data = {
#     "Location": [
#         "POINT (-72.343628962 41.728431984)",
#         "POINT (-72.846365959 41.781677018)",
#         "POINT (-73.053071989 41.439434021)",
#         None,  # Example of a null value
#         "POINT (-72.828043035 41.282226984)"
#     ]

#df = pd.DataFrame(data)

# Initialize geolocator
geolocator = Nominatim(user_agent="geoapi")

# Function to extract coordinates
def extract_coordinates(point):
    if isinstance(point, str):  # Check if the input is a string
        return list(map(float, re.findall(r"-?\d+\.\d+", point)))
    else:
        return None  # Handle non-string inputs gracefully

# Reverse geocoding
results = []
for point in df['Location']:
    coords = extract_coordinates(point)
    if coords:
        latitude, longitude = coords[1], coords[0]  # Latitude comes second in POINT format
        location = geolocator.reverse((latitude, longitude), language='en')
        results.append(location.address if location else "Unknown Location")
    else:
        results.append("Invalid Location")  # Handle invalid inputs

# Add results to the DataFrame
df['Address'] = results

# Print the DataFrame
print(df)

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=41.362399008&lon=-72.90641802&format=json&accept-language=en&addressdetails=1 (Caused by ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)"))

In [ ]:
df['Address'].value_counts()

In [ ]:
df['Address'].describe()

In [30]:
df

,Serial Number,List Year,Date Recorded,Town,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,220008,2022,01/30/2023,Andover,139020.0,232000.0,0.599200,Residential,Single Family,NaN,NaN,NaN,POINT (-72.343628962 41.728431984)
1,2020348,2020,09/13/2021,Ansonia,150500.0,325000.0,0.463000,Commercial,NaN,NaN,NaN,NaN,NaN
2,20002,2020,10-02-2020,Ashford,253000.0,430000.0,0.588300,Residential,Single Family,NaN,NaN,NaN,NaN
3,210317,2021,07-05-2022,Avon,329730.0,805000.0,0.409600,Residential,Single Family,NaN,NaN,NaN,POINT (-72.846365959 41.781677018)
4,200212,2020,03-09-2021,Avon,130400.0,179900.0,0.724800,Residential,Condo,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
199993,10606,2001,08-11-2002,Southbury,130230.0,326000.0,0.399479,NaN,NaN,NaN,NaN,NaN,NaN
199994,10018,2001,10/24/2001,Woodbury,259800.0,385000.0,0.674805,NaN,NaN,NaN,NaN,NaN,NaN
199995,10482,2001,07/31/2002,Trumbull,163800.0,205000.0,0.799024,NaN,NaN,NaN,NaN,NaN,NaN
199996,10230,2001,12/17/2001,New Britain,30810.0,162400.0,0.189717,NaN,NaN,7.0,NaN,NaN,POINT (-72.81767 41.66098)
199997,10213,2001,02-01-2002,Newtown,111450.0,253500.0,0.439645,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
(df.isnull().sum())/len(df)*100

In [ ]:
df.duplicated().sum()

In [ ]:
df.drop(columns='Location', inplace=True)

In [ ]:
df

# Missing Value Treatment for Discrete Variables

In [ ]:
mod = df['OPM remarks'].mode()[0]
print(mod)
df['OPM remarks'].fillna(mod, inplace=True)

In [ ]:
mod = df['Assessor Remarks'].mode()[0]
print(mod)
df['Assessor Remarks'].fillna(mod, inplace=True)

In [ ]:
mod = df['Non Use Code'].mode()[0]
print(mod)
df['Non Use Code'].fillna(mod, inplace=True)

In [ ]:
mod = df['Residential Type'].mode()[0]
print(mod)
df['Residential Type'].fillna(mod, inplace=True)

In [ ]:
mod = df['Property Type'].mode()[0]
print(mod)
df['Property Type'].fillna(mod, inplace=True)

In [ ]:
mod = df['Address'].mode()[0]
print(mod)
df['Address'].fillna(mod, inplace=True)

In [ ]:
continuous = ['Assessed Value','Sale Amount','Sales Ratio']
discrete = ['Town','Address','Property Type','Residential Type','Non Use Code','Assessor Remarks','OPM remarks','Location']
time_series = ['List Year','Date Recorded']

In [ ]:
df[continuous].describe()

In [ ]:
df.columns

In [ ]:
plt.boxplot(df['Assessed Value'])
plt.show()

In [ ]:
sns.boxplot(df['Sale Amount'])
plt.show()

In [ ]:
sns.boxplot(df['Sales Ratio'])
plt.show()

In [ ]:
outliers = {}
for col in df[continuous]:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)

    IQR = Q3-Q1
    lower_bound = Q1-(1.5*IQR)
    upper_bound = Q3 + (1.5*IQR)

    outliers[col] = ((df[col]<lower_bound) | (df[col]>upper_bound)).sum()


for col, values in outliers.items():
    print(f"Outliers in {col} : {values}")

In [ ]:
df['Sales Ratio'].skew()

In [ ]:
df[continuous].describe()

In [ ]:
df

In [ ]:
pip install pandas openpyxl

In [ ]:
df.to_excel("Real_estate_clean.xlsx", index=False)

In [ ]:
df.isnull().sum()